/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/**** variables ****/
@font-face {
  font-family: 'Young Love';
  src: url("../fonts/younglovees.ttf") format("truetype"); }

/* line 24, ../sass/screen.scss */
html {
  -webkit-box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  -moz-box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  height: 100%; }

/* line 30, ../sass/screen.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background: url("../img/subtle_grunge.png"); }

/* line 38, ../sass/screen.scss */
header h1, header h2 {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: white; }
/* line 45, ../sass/screen.scss */
header h1 {
  font: 600 normal 80px/90px "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: 0 2px 3px rgba(40, 41, 42, 0.6), 0 4px 0 rgba(150, 150, 150, 0.5), 0 9px 5px rgba(0, 0, 0, 0.5);
  z-index: 2000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  /* line 53, ../sass/screen.scss */
  header h1:hover {
    top: 20px;
    cursor: pointer;
    text-shadow: 0 2px 3px rgba(40, 41, 42, 0.6), 0 4px 0 rgba(150, 150, 150, 0.5), 0 0px 25px rgba(233, 19, 72, 0.5); }
/* line 62, ../sass/screen.scss */
header h2 {
  font: 180px "Young Love", "Miss Fajardose", "Edwardian Script ITC", serif;
  font-weight: 100;
  text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.8);
  margin-top: -30px;
  z-index: 1000; }

/* line 72, ../sass/screen.scss */
#blocksWrapper {
  position: relative;
  margin: 0px auto;
  padding: 15px 0px; }
  /* line 77, ../sass/screen.scss */
  #blocksWrapper .cont {
    width: 160px;
    height: 160px;
    text-align: left;
    margin: 8px;
    display: inline-block;
    cursor: pointer; }
    /* line 85, ../sass/screen.scss */
    #blocksWrapper .cont.scripts .front {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ac2', endColorstr='#00c2f4');
      background: -webkit-linear-gradient(-45deg, #009ac2 20%, #00c2f4 70%);
      background: -moz-linear-gradient(-45deg, #009ac2 20%, #00c2f4 70%);
      background: -o-linear-gradient(-45deg, #009ac2 20%, #00c2f4 70%);
      background: linear-gradient(-45deg, #009ac2 20%, #00c2f4 70%); }
    /* line 90, ../sass/screen.scss */
    #blocksWrapper .cont.webdev .front {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b90f3a', endColorstr='#e91348');
      background: -webkit-linear-gradient(-45deg, #b90f3a 20%, #e91348 70%);
      background: -moz-linear-gradient(-45deg, #b90f3a 20%, #e91348 70%);
      background: -o-linear-gradient(-45deg, #b90f3a 20%, #e91348 70%);
      background: linear-gradient(-45deg, #b90f3a 20%, #e91348 70%); }
    /* line 95, ../sass/screen.scss */
    #blocksWrapper .cont.photo .front {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d3987', endColorstr='#8b49ab');
      background: -webkit-linear-gradient(-45deg, #6d3987 20%, #8b49ab 70%);
      background: -moz-linear-gradient(-45deg, #6d3987 20%, #8b49ab 70%);
      background: -o-linear-gradient(-45deg, #6d3987 20%, #8b49ab 70%);
      background: linear-gradient(-45deg, #6d3987 20%, #8b49ab 70%); }
    /* line 100, ../sass/screen.scss */
    #blocksWrapper .cont.ps .front {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00984c', endColorstr='#00cb66');
      background: -webkit-linear-gradient(-45deg, #00984c 20%, #00cb66 70%);
      background: -moz-linear-gradient(-45deg, #00984c 20%, #00cb66 70%);
      background: -o-linear-gradient(-45deg, #00984c 20%, #00cb66 70%);
      background: linear-gradient(-45deg, #00984c 20%, #00cb66 70%); }
    /* line 105, ../sass/screen.scss */
    #blocksWrapper .cont .block {
      width: 100%;
      height: 100%;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      position: relative;
      -webkit-transform: perspective(200px);
      -moz-transform: perspective(200px);
      -ms-transform: perspective(200px);
      -o-transform: perspective(200px);
      transform: perspective(200px);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 0px 50% 0px 50%;
      -moz-transform-origin: 0px 50% 0px 50%;
      -ms-transform-origin: 0px 50% 0px 50%;
      -o-transform-origin: 0px 50% 0px 50%;
      transform-origin: 0px 50% 0px 50%;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      color: white;
      font-weight: 600;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.3);
      z-index: 2000; }
      /* line 119, ../sass/screen.scss */
      #blocksWrapper .cont .block p {
        display: none; }
        /* line 122, ../sass/screen.scss */
        #blocksWrapper .cont .block p.active p {
          width: 90%;
          background-color: rgba(255, 0, 160, 0.6);
          position: absolute;
          bottom: 0px;
          margin: 0;
          padding: 5%;
          display: block;
          color: white; }
    /* line 135, ../sass/screen.scss */
    #blocksWrapper .cont .front {
      width: 90%;
      height: 90%;
      padding: 5%;
      position: absolute;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 2px 0px rgba(255, 255, 255, 0.1);
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      z-index: 3000; }
    /* line 146, ../sass/screen.scss */
    #blocksWrapper .cont .back {
      width: 90%;
      height: 90%;
      padding: 5%;
      position: absolute;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313');
      background: -webkit-linear-gradient(-45deg, #4c4c4c 20%, #131313 70%);
      background: -moz-linear-gradient(-45deg, #4c4c4c 20%, #131313 70%);
      background: -o-linear-gradient(-45deg, #4c4c4c 20%, #131313 70%);
      background: linear-gradient(-45deg, #4c4c4c 20%, #131313 70%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      -webkit-transform: rotatey(180deg);
      -moz-transform: rotatey(180deg);
      -ms-transform: rotatey(180deg);
      -o-transform: rotatey(180deg);
      transform: rotatey(180deg);
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 2px 0px rgba(255, 255, 255, 0.1);
      z-index: 2000; }
    /* line 161, ../sass/screen.scss */
    #blocksWrapper .cont:hover .block {
      -webkit-transform: rotatey(180deg) translatex(-100%);
      -moz-transform: rotatey(180deg) translatex(-100%);
      -ms-transform: rotatey(180deg) translatex(-100%);
      -o-transform: rotatey(180deg) translatex(-100%);
      transform: rotatey(180deg) translatex(-100%);
      -moz-transform: rotatey(180deg) translatex(0%);
      -ms-transform: rotatey(180deg) translatex(0%);
      z-index: 3000; }
      /* line 167, ../sass/screen.scss */
      #blocksWrapper .cont:hover .block .front {
        color: transparent;
        text-shadow: 0px 0px 0px transparent;
        z-index: 4000; }
      /* line 173, ../sass/screen.scss */
      #blocksWrapper .cont:hover .block .back {
        z-index: 5000; }

/**** Menu ****/
/* line 183, ../sass/screen.scss */
#navWrapper {
  width: 100%;
  background-color: #980002;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  margin-top: -50px;
  margin-bottom: 20px;
  position: relative;
  z-index: 3000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  /* line 193, ../sass/screen.scss */
  #navWrapper #menu {
    height: 45px;
    display: block;
    margin: 0 auto;
    width: 750px;
    position: relative;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e50207', endColorstr='#cf0206',GradientType=0 );
    /* IE6-8 */
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1MDIwNyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYzAwMjA0Ii8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNhMTAwMDIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjAyMDYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e50207), color-stop(50%, #c00204), color-stop(51%, #a10002), color-stop(100%, #cf0206));
    background: -webkit-linear-gradient(#e50207 0%, #c00204 50%, #a10002 51%, #cf0206 100%);
    background: -moz-linear-gradient(#e50207 0%, #c00204 50%, #a10002 51%, #cf0206 100%);
    background: -o-linear-gradient(#e50207 0%, #c00204 50%, #a10002 51%, #cf0206 100%);
    background: linear-gradient(#e50207 0%, #c00204 50%, #a10002 51%, #cf0206 100%); }
    /* line 202, ../sass/screen.scss */
    #navWrapper #menu ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 207, ../sass/screen.scss */
      #navWrapper #menu ul li {
        float: left;
        position: relative;
        text-align: center;
        line-height: 45px; }
        /* line 213, ../sass/screen.scss */
        #navWrapper #menu ul li:last-child {
          box-shadow: 3px 0px 4px -1px rgba(0, 0, 0, 0.3); }
        /* line 217, ../sass/screen.scss */
        #navWrapper #menu ul li:nth-child(2) {
          box-shadow: -3px 0px 4px -1px rgba(0, 0, 0, 0.3); }
        /* line 221, ../sass/screen.scss */
        #navWrapper #menu ul li a {
          color: white;
          position: relative;
          display: block;
          width: 150px;
          height: 45px;
          font-family: Arial;
          font-size: 11px;
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          cursor: pointer;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          /* line 236, ../sass/screen.scss */
          #navWrapper #menu ul li a.active {
            color: red;
            text-shadow: 0px 1px 0px white, 0px -1px 0px rgba(0, 0, 0, 0.1), 0 0px 15px rgba(233, 19, 72, 0.6); }
        /* line 245, ../sass/screen.scss */
        #navWrapper #menu ul li.marker {
          width: 150px;
          height: 45px;
          background-color: white;
          display: list-item;
          position: absolute;
          -webkit-box-shadow: 0 0 15px white, inset 0 1px rgba(255, 255, 255, 0.7), inset 0 15px rgba(255, 255, 255, 0.4), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 0 15px white, inset 0 1px rgba(255, 255, 255, 0.7), inset 0 15px rgba(255, 255, 255, 0.4), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px white, inset 0 1px rgba(255, 255, 255, 0.7), inset 0 15px rgba(255, 255, 255, 0.4), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.2);
          /* Dark Background */ }

/**** Footer ****/
/* line 265, ../sass/screen.scss */
footer {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  /* line 272, ../sass/screen.scss */
  footer ul {
    list-style: none;
    padding: 0;
    background-color: #c28224;
    margin: 0; }
    /* line 278, ../sass/screen.scss */
    footer ul:nth-child(1) {
      background-color: #cdb200; }
      /* line 281, ../sass/screen.scss */
      footer ul:nth-child(1) li a {
        background-color: #ffe500; }
    /* line 286, ../sass/screen.scss */
    footer ul:nth-child(2) {
      background-color: #cda000; }
      /* line 289, ../sass/screen.scss */
      footer ul:nth-child(2) li a {
        background-color: #ffba00; }
    /* line 294, ../sass/screen.scss */
    footer ul:nth-child(3) {
      background-color: #bd7502; }
      /* line 297, ../sass/screen.scss */
      footer ul:nth-child(3) li a {
        background-color: #ff9d00; }
    /* line 302, ../sass/screen.scss */
    footer ul:nth-child(4) {
      background-color: #d35b03; }
      /* line 305, ../sass/screen.scss */
      footer ul:nth-child(4) li a {
        background-color: #ff6e00; }
    /* line 310, ../sass/screen.scss */
    footer ul li {
      width: 750px;
      margin: 0 auto; }
      /* line 314, ../sass/screen.scss */
      footer ul li a {
        padding: 5px 20px;
        vertical-align: middle;
        display: block;
        text-decoration: none;
        color: white; }
      /* line 322, ../sass/screen.scss */
      footer ul li:hover a {
        background-color: #c10009; }
    /* line 327, ../sass/screen.scss */
    footer ul.active {
      background-color: #840006; }

/**** Isotope Filtering ****/
/* line 335, ../sass/screen.scss */
.isotope-item {
  z-index: 2; }

/* line 339, ../sass/screen.scss */
.isotope-hidden.isotope-item {
  z-index: 1; }

/**** Isotope CSS3 transitions ****/
/* line 345, ../sass/screen.scss */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

/* line 349, ../sass/screen.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

/* line 353, ../sass/screen.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }
