/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

/**** variables ****/
$menuWidth: 750px;
$experimental-support-for-svg: true;
$experimental-support-for-mozilla : true !default;
$experimental-support-for-webkit : true !default;
$support-for-original-webkit-gradients : true !default;
$experimental-support-for-opera : true !default;
$experimental-support-for-microsoft : true !default;
$experimental-support-for-khtml : true !default;

/**** fonts ****/
@font-face { 
    font-family: 'Young Love'; 
    src: url('../fonts/younglovees.ttf') format('truetype');
}
@font-face { 
    font-family: 'Erler Dingbats'; 
    src: url('../fonts/ErlerDingbats.ttf') format('truetype');
} 
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**** font icons ****/
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/**** actual stylesheets ****/
html {
    height: 100%;
    // -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Source Sans Pro", sans-serif;    
    margin: 0;
    background: url('../img/subtle_grunge.png');
}

.vignette {
    position: fixed;
    width: 100%;
    height: 100%;
    @include box-shadow(0 0 200px rgba(0,0,0,0.9) inset);
}

.noscript {
    position: relative;
    display: block;
    width: $menuWidth;
    margin: auto auto;
    text-align: center;
    

    p {
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 1), 0px -1px 0px rgba(0, 0, 0, 1);
        font-weight: 900;
        font-size: 20px;
        color: hsla(0, 0%, 50%, 1);
    }
}


header { 
    h1, h2 {
        position: relative;
        margin: 0 auto;
        text-align: center;
        color: white;
    }

    h1 {
        font: 600 normal 80px/90px "Helvetica Neue",Helvetica,sans-serif;
        color: white;
        text-shadow: 0 2px 3px rgba(40,41,42,0.6),
                    0 4px 0 rgba(150,150,150,0.5),
                    0 9px 5px rgba(0,0,0,0.5);
        z-index: 2000;
        @include transition(all 1s ease-in);
        
        a {
            text-decoration: none;
            color: white;
        }
        
        &:hover {
            top: 20px;
            cursor: pointer;
            text-shadow: 0 2px 3px rgba(40,41,42,0.6),
                        0 4px 0 rgba(150,150,150,0.5),
                        0 0px 25px rgba(233, 19, 72, 0.5);
        }
    }
    
    h2 {
        font: 180px "Young Love", "Miss Fajardose", "Edwardian Script ITC", serif;
        font-weight: 100;
        text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.8);
        margin-top: -30px;
        // z-index: 1000;
    }
}

/**** Menu ****/

#navWrapper {
    width: 100%;
    background-color: #980002;
    @include box-shadow(0px 7px 15px rgba(0, 0, 0, 0.4));
    margin-top: -50px;
    margin-bottom: 20px;
    position: relative;
    // z-index: 3000;
    @include transition(all 1s ease);
    
    &.webdev {
        background-color: #e91348;
    }

    &.scripts {
        background-color: #00c2f4;
    }
    
    &.photo {
        background-color: #8b49ab;
    }
    
    &.ps {
        background-color: #00cb66;
    }

    #menu {
        height: 45px;
        display: block;
        margin: 0 auto;
        width: $menuWidth;
        position: relative;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50207', endColorstr='#cf0206',GradientType=0 ); /* IE6-8 */   
        @include background(linear-gradient(#e50207 0%,#c00204 50%,#a10002 51%,#cf0206 100%));

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                float: left;		
                position: relative;
                text-align: center;
                line-height: 45px;

                &:last-child {
                    box-shadow: 3px 0px 4px -1px rgba(0, 0, 0, .3);
                }

                &:nth-child(2) {
                    box-shadow: -3px 0px 4px -1px rgba(0, 0, 0, .3);
                }

                a {
                    color: white;
                    position: relative;
                    display: block;
                    width: 150px;
                    height: 45px;
                    font-family: Arial;
                    font-size: 11px;
                    font-weight: 100;
                    font-style: normal;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    text-decoration: none;
                    cursor: pointer;
                    @include transition(all 0s ease);

                    &.active, &.active:hover {
                        color: red;    
                        text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0),  
                                    0px -1px 0px rgba(0, 0, 0, 0.1),
                                    0 0px 15px rgba(233, 19, 72, 0.6);
                        background-color: white;
                        @include box-shadow(0 0 15px rgba(255,255,255,1), /* Exterior Shadow */
                                    inset 0 1px rgba(255,255,255,0.7), /* Top light Line */
                                    inset 0 15px rgba(255,255,255,0.4), /* Top Light Shadow */
                                    inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
                                    inset 0 -15px 30px rgba(0,0,0,0.2)); /* Dark Background */
                        @include transition(all 2s ease);
                        
                        
                    }
                    
                    &:hover {
                        //@include box-shadow(0 8px 3px -5px rgba(255,255,255,0.8)); /* Exterior Shadow */
                        @include transition(all 0.2s ease);
                        text-shadow:0px 0px 20px rgba(255,255,255,1), 0px 0px 15px rgba(255,255,255,1), 0px 0px 5px rgba(255,255,255,1);
                    }
                }


                &.marker {
                    width: 150px;
                    height: 45px;
                    background-color: white;
                    display:list-item;
                    position: absolute;
                    @include box-shadow(0 0 15px rgba(255,255,255,1), /* Exterior Shadow */
                                inset 0 1px rgba(255,255,255,0.7), /* Top light Line */
                                inset 0 15px rgba(255,255,255,0.4), /* Top Light Shadow */
                                inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
                                inset 0 -15px 30px rgba(0,0,0,0.2)); /* Dark Background */
                }
            }
        }
    }
}

/**** Content Blocks ****/

#blocksWrapper {
    position: relative;
    margin: 0px auto;
    padding: 15px 0px;
    
    .cont {
        width: 160px;
        height: 160px;
        text-align: left;
        margin: 8px;
        display: inline-block;
        cursor: pointer;
        
        &.scripts .front {    
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ac2', endColorstr='#00c2f4');
            @include background(linear-gradient(-45deg, #009ac2 20%, #00c2f4 70%));
        }
        
        &.webdev .front {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b90f3a', endColorstr='#e91348');
            @include background(linear-gradient(-45deg, #b90f3a 20%, #e91348 70%));
        }
        
        &.photo .front {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d3987', endColorstr='#8b49ab');
            @include background(linear-gradient(-45deg, #6d3987 20%, #8b49ab 70%));
            
            h3 {
                display: none;
            }
        }
        
        &.ps .front {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00984c', endColorstr='#00cb66');
            @include background(linear-gradient(-45deg, #00984c 20%, #00cb66 70%));
            
            h3 {
                display: none;
            }
        }
    
        .block {
            width: 100%;
            height: 100%;
            @include transition(all 1s ease);
            position: relative;
            @include transform(perspective(200px));
            @include transform-style(preserve-3d);
            @include transform-origin(0px 50% /*-0.1px*/ 0px);
            font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            color: white;
            font-weight: 600;
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),  0px -1px 0px rgba(0, 0, 0, 0.3);
            z-index: 2000;
            
            p {
                display: none;
            
                &.active p {
                    width: 90%;
                    background-color: rgba(255, 0, 160, .6);
                    position: absolute;
                    bottom: 0px;
                    margin: 0;
                    padding: 5%;
                    display: block;
                    color: white;
                }
            }
        }
    
        .front {
            width: 90%;
            height: 90%;
            padding: 5%;
            position: absolute;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 2px 0px rgba(255, 255, 255, 0.1);
            @include backface-visibility(hidden);
            @include transition(all 1s ease);
            z-index: 3000;
        }
    
        .back {
            width: 90%;
            height: 90%;
            padding: 5%;
            position: absolute;
            overflow: hidden;
            @include backface-visibility(hidden);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313');
            @include background(linear-gradient(-45deg, #4c4c4c 20%, #131313 70%));
            @include transition(all 1s ease);
            @include transform(rotatey(180deg));
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 2px 0px rgba(255, 255, 255, 0.1);
            z-index: 2000;
            
            a {
                color: hsl(0, 0%, 81%);
                font-size: 12px;
                font-weight: 400;
            }
        }
        
        &:hover .block {
            @include transform(rotatey(180deg) translatex(-100%));
            -moz-transform: rotatey(180deg) translatex(0%);
            -ms-transform: rotatey(180deg) translatex(0%);
            z-index: 3000; 
            
            .front {
                color: transparent;
                text-shadow: 0px 0px 0px transparent;
                z-index: 4000;
            }
            
            .back {
                z-index: 5000;
            }
        }
    }
}


/**** Footer ****/

footer {
    display: block;
    position: absolute;
    bottom: -120px;
    width: 100%; 
    @include transition(all 1s ease);
    
    ul {
        list-style: none;
        padding: 0;
        background-color: #c28224;
        margin: 0;
        
        $color: hsl(55, 100%, 50%);
        //$color: hsl(359, 98%, 75%);
        $degrees: -10;
        $desat: 20%;
        
        &:nth-child(1) {            
            background-color: desaturate($color, $desat);

            li a {
                background-color: $color;
            } 
        }
        
        &:nth-child(2) {
            $color: adjust-hue($color, $degrees);
            background-color: desaturate($color, $desat);
            
            li a {
                background-color: $color;
            }
        }

        &:nth-child(3) {
            $color: adjust-hue($color, $degrees);
            background-color: desaturate($color, $desat);
            
            li a {
                background-color: $color;
            }
        }
        
        &:nth-child(4) {
            $color: adjust-hue($color, $degrees);
            background-color: desaturate($color, $desat);
            
            li a {
                background-color: $color;
            }
        }
        
        li {
            width: $menuWidth;
            margin: 0 auto;
            
            a {
                padding: 5px 20px;
                vertical-align: middle;
                display: block;
                text-decoration: none;
                color: white;
            }
            
            &:hover a {
                background-color: #c10009;
            }
        }        
        
        &.active {
            background-color: #840006;   
        }
    }
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
          @include transition-duration(0.8s);
}

.isotope {
          @include transition-property(height, width);
}

.isotope .isotope-item {
          @include transition-property(transform, opacity);      
}


// /**** disabling Isotope CSS3 transitions ****/
// 
// .isotope.no-transition,
// .isotope.no-transition .isotope-item,
// .isotope .isotope-item.no-transition {
//           @include transition-duration(0s);
// }

/**** Resume ****/

#resumeWrapper {
    position: relative;
    width: $menuWidth;
    margin: 20px auto;    
    background: url('../img/subtle_grunge.png');
    background-color: hsl(53, 100%, 60%);
    @include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.8), inset 0px -400px 100px rgba(255, 255, 255, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 2px 0px rgba(255, 255, 255, 0.1));
    // @include transform(rotatez(-1deg));   
    
    .resume {
        display: block;
        padding: 20px;
        color: hsl(241, 100%, 15%);        
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7),  
                    0px -1px 0px rgba(0, 0, 0, 0.1);
        
        &:hover {
            .download {
                background: hsla(0, 0%, 33%, 0.5);
                cursor: pointer;
                
                a {
                    color: hsla(0, 0%, 100%, 0.8);   
                    text-shadow: none;                 
                }
                
                &:hover {
                    background: hsla(0, 0%, 33%, 0.9);
                }
            }
        }
        
        .icons {
            position: absolute;
            right: 5px;
            top: 310px;
            width: 105px;
            
            a, iframe {
                float: right;
            }
        }
        
        .download {
            font-size: 60px;          
            @include transition(color 1s ease, background-color 1s ease);
            text-shadow: none;            
            border-radius: 10px;
            display: block;
            width: 200px;
            position: absolute;
            left: 275px;
            padding: 8px 8px 3px 8px;
            // -webkit-backface-visibility: hidden;
            // -webkit-transform:translate3d(0,0,0);
            -webkit-transform: translateZ(0);
            
            a {               
                color: hsla(0, 0%, 0%, 0%);  
                
                .icon {
                    float: left;
                }
                
                .text {
                    font-family: "Source Sans Pro", sans-serif;
                    font-size: 20px;
                    @include transform(rotatez(0));
                    float: left;
                    margin: 10px 0 0 10px;
                } 
            }           
        }    
        
                   
        a {
            text-decoration: none;
            color: hsl(359, 100%, 30%);
            @include transition(all 0.5s ease);
            
            &:hover {
                text-shadow: 0px 0px 5px hsl(359, 100%, 30%);
            }
        }
        
        h3 {
            font-size: 60px; 
            font-weight: 600;  
        }
        
        h4 {
            font-size: 30px;
            font-weight: 600;
            margin-top: 20px;
        }
        
        img#portrait {
            position: absolute;
            right: 0px;
            top: 0px;
            @include transform(rotatez(5deg));
            height: 260px;
            width: 195px;
            border: solid 10px white;
            @include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.8));
        }
        
        table {
            font-size: 20px;
            line-height: 1.2em;
            
            tr {
                td, th {
                    vertical-align: top;
                    padding: 5px 10px;
                    
                    &:nth-child(1) {
                        width: 200px;
                    }
                }
                
                th {
                    font-weight: bold;
                }               
            }
            
            &:last-child {
                margin-top: 40px;
            }
        }
    }
}

/**** contact ****/

#contactWrapper {
    position: relative;
    width: $menuWidth;
    margin: 20px auto;    
    background: url('../img/ladybug.jpg');
    background-size: 100%;
    // background-color: hsl(53, 100%, 60%);
    @include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.8), inset 0px -400px 100px rgba(255, 255, 255, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 2px 0px rgba(255, 255, 255, 0.1));
    
    .contact {
        display: block;
        padding: 20px;
        color: hsl(241, 100%, 15%);        
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7),  
                    0px -1px 0px rgba(0, 0, 0, 0.1);
        // text-align: center;
        
        
        p.message {
            margin-top: 20px;
        }
                    
        .alert {
            background: hsla(150, 100%, 40%, 0.7);
            border: 1px solid hsla(150, 100%, 30%, 0.7);
            text-shadow: none;
            padding: 10px;
            width: 200px;
            margin: auto auto;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 0px 0px 10px -2px black;
            text-align: center;
            @include transition(all 300ms ease-in-out);
            position: absolute;
            top: 405px;
            left: 203px;
            // left: 50%;
            // margin-left: -100px;
            z-index: 7;
            color: white;
            
            &.error {
                background-color: hsla(359, 98%, 41%, 0.5);
                border: 1px solid hsla(359, 100%, 30%, 0.5);
            }
        }
                    
        form {
            margin-left:auto;
            margin-right:auto;
            width: 343px;
            height: 333px;
            padding:30px;
            // border: 1px solid rgba(0,0,0,.2);
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background: linear-gradient(top,rgba(255, 255, 255, 0.1) 30%,rgba(0,0,0,.3) 60%);
            // box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
            overflow: hidden;
        }
        
        textarea{
            background: rgba(180, 180, 180, 0.3) url(http://estudio87.com/img/gemicon_message.png) no-repeat scroll 16px 16px; 
            width: 276px;
            height: 110px;
            border: 1px solid rgba(255,255,255,.6);
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box; 
            display:block;
            font-family: 'Source Sans Pro', sans-serif;
            font-size:18px;
            color:#fff;
            padding-left:45px;
            padding-right:20px;
            padding-top:12px;
            margin-bottom:20px;
            overflow:hidden;
            position: relative;
            z-index: 6;
        }
        
        label {
            position: absolute;
            left: 20px;
            margin-top: -69px;
            padding: 10px;
            display: block;
            width: 162px;
            background: hsla(359, 98%, 41%, 0.5);
            border: 1px solid hsla(359, 100%, 30%, 0.5);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            color: white;
            text-shadow: none;
            z-index: 5;
            font-size: 12px; 
            @include transition(all 100ms ease-in);           
        }
        
        input {
            position: relative;
            z-index: 6;
            width: 276px;
            height: 48px;
            border: 1px solid rgba(255,255,255,.6);
            border-radius: 4px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box; 
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            font-size:18px;
            color:#fff;
            padding-left:20px;
            padding-right:20px;
            margin-bottom:20px;
            @include transition(all 100ms ease-in);
            
            &[type=submit] {
                cursor:pointer;
            }
        
            &.name {
                background: rgba(180, 180, 180, 0.3) url(http://estudio87.com/img/gemicon_name.png) no-repeat scroll 16px 16px; 
                padding-left:45px;
            }
        
            &.emailaddress {
                background: rgba(180, 180, 180, 0.3) url(http://estudio87.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
                padding-left:45px;
            }
            
            &.message {
                background: rgba(255, 255, 255, 0.4) url(http://estudio87.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
                padding-left:45px;
            }
        }
        
        ::-webkit-input-placeholder {
              color: #fff;
        }
        
        :-moz-placeholder{ 
            color: #fff; 
        }
        
        ::-moz-placeholder {
            color: #fff;
        }
        
        :-ms-input-placeholder {  
            color: #fff; 
        }
        
        input:focus, textarea:focus { 
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
            overflow: hidden;
            outline: none;
        }
        
        .btn {
            width: 50px;
            height: 50px;
            background-color: hsla(0, 0%, 0%, 0.2);
            
            border: 1px solid rgba(255,255,255,.6);
            border-radius:50%;
            float:right;
            padding:0px;
            margin:0px;
            font-size:30px;
            @include transition(all 300ms ease-in-out);
            
            &:focus {
                background: hsla(0, 0%, 0%, 0.3);
            }
            
            &:hover {
                background: hsla(0, 0%, 0%, 0.4);
            }
        }        
         
        h3 {
            font-size: 60px; 
            font-weight: 600;  
        }
        
    }
}

/**** Sources ****/

#sourcesWrapper {
    position: relative;
    width: $menuWidth;
    margin: 20px auto;    
    background: url('../img/subtle_grunge.png');
    background-color: hsla(221, 100%, 80%, .5);
    background-size: 100%;
    // background-color: hsl(53, 100%, 60%);
    @include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.8), inset 0px -400px 100px rgba(255, 255, 255, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 2px 0px rgba(255, 255, 255, 0.1));
    
    .sources {
        display: block;
        padding: 20px;
        color: hsl(241, 100%, 15%);        
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7),  
                    0px -1px 0px rgba(0, 0, 0, 0.1);
                    
        h3 {
            font-size: 60px; 
            font-weight: 600; 
            margin-bottom: 30px; 
        }
        
        ul {
          
            li {
                display: block;
                border: 1px white solid;
                border-radius: 5px;
                margin-bottom: 5px;
                background-color: hsla(0, 0%, 0%, 0.2);
                cursor: move;
                text-shadow: none;
                
                &.ui-sortable-helper {
                    &:hover {
                        &:after {
                            right: 0px;
                        }
                    }
                }
                
                &:focus {
                  background: hsla(0, 0%, 0%, 0.3);
                }
                
                &:hover {
                  background: hsla(0, 0%, 0%, 0.4);
                  
                  &:after {
                    content: "\e018";
                    font-family: 'icomoon';
                    font-weight: 100;
                    color: hsl(0, 0%, 100%);
                    position: absolute;
                    right: 21px;
                    border-left: 1px white solid;
                    padding: 12px;
                    margin-top: -40px;
                    border-radius: 0 5px 5px 0;
                    @include background(linear-gradient(left, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.4) 100%));                    
                  }
                }
                
                
                
                a {
                  color: white;
                  text-decoration: none;
                  font-size: 20px;
                  display: block;
                  padding: 10px;
                  
                  
                  &:hover {
                  
                      
                    }
                }
            }  
        }
    }
}

/**** Imprint ****/

#imprintWrapper {
position: relative;
width: $menuWidth;
margin: 20px auto;    
background: url('../img/subtle_grunge.png');
background-color: hsla(21, 100%, 80%, .5);
background-size: 100%;
@include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.8), inset 0px -400px 100px rgba(255, 255, 255, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 2px 0px rgba(255, 255, 255, 0.1));

    .imprint {
        display: block;
        padding: 20px;
        color: hsl(241, 100%, 15%);        
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7),  
                    0px -1px 0px rgba(0, 0, 0, 0.1);
                    
        h3 {
            font-size: 60px; 
            font-weight: 600; 
            margin-bottom: 30px; 
        }
    }
}